@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  /* cursor: none; */
  scroll-behavior: smooth;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: rgb(37, 37, 236);
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(37, 37, 236);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  opacity: 50%;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
